.sidebar {
  flex: 1;
  position: sticky;
  background-color: rgb(251, 251, 255);
  height: calc(100vh - 70px);
  top: 70px;
}

.sidebarWrapper {
  padding: 20px;
  padding-top: 0;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(228, 228, 250);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
